[commit]
	verbose = true
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[user]
	name = Emmanuel Nicolet
	email = emmanuel.nicolet@gmail.com
[alias]
	br = branch
	cm = commit
	co = checkout
	df = diff
	st = status
[push]
	default = simple
[core]
	editor = vim
